<%- include('partials/header') -%>

    <% projects.forEach( el=> { %>
        <section class="project--container">
            <section class="project--tab">
                <section class="<%= el._id %>Tab" onclick="changeTab('<%= el._id %>Tab')">
                    <h2>
                        <%= el.name %>
                    </h2>
                </section>
                <!-- <button class="<%= el._id %>Tab project-tabs-unselected" onclick="changeTab('<%= el._id %>Tab')">Documents</button>
                <button class="<%= el._id %>Tab project-tabs-unselected" onclick="changeTab('<%= el._id %>Tab')">Messages</button> -->
            </section>
            <section class="project--table">
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Priority</th>
                            <th>Estimated Time</th>
                            <th>Cost</th>
                            <th>Status</th>
                            <th class="add-task-icon"><i class="fa-solid fa-plus" onclick="showHide('<%= el._id %>')"></i>Add Task</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% el.tasks.forEach( el=> { %>
                            <tr>
                                <td>
                                    <%= el.taskName %>
                                </td>
                                <td>
                                    <%= el.priority %>
                                </td>
                                <td>
                                    <%= el.estTime %>
                                </td>
                                <td>
                                    $<%= el.estCost %>
                                </td>
                                <td>
                                    <%= el.status %>
                                </td>
                                <td><button class="show-more"><i class="fa-solid fa-caret-down"></i></button></td>
                            </tr>
                            <% }) %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                {}
                            </td>
                            <td>
                                {}
                            </td>
                            <td>
                                <% let totalTime=0 %>
                                    <% el.tasks.forEach( el=> { %>
                                        <% totalTime=el.estTime + totalTime %>
                                            <% }) %>
                                                <%= totalTime %>

                            </td>
                            <td>
                                <% let totalCost=0 %>
                                    <% el.tasks.forEach( el=> { %>
                                        <% totalCost=el.estCost + totalCost %>
                                            <% }) %>
                                                $<%= totalCost %>
                            </td>
                            <td>
                                {PERCTENTAGE COMPLETE}
                            </td>
                            <td>{}</td>
                        </tr>
                    </tfoot>
                </table>
                <section class="create-task-container hide" id="<%= el._id %>">
                    <form action="/task/add/<%= el._id %>" method="post">
                        <input type="text" name="taskName" placeholder="Task Name" required>
                        <textarea name="taskDescription" cols="30" rows="10" placeholder="Description"></textarea>
                        <select name="priority">
                            <option value="Low">Task Priority</option>
                            <option value="Low">Low</option>
                            <option value="Medium">Medium</option>
                            <option value="High">High</option>
                            <option value="Urgent">Urgent</option>
                        </select>
                        <select name="status">
                            <option value="Not Started">Task Status</option>
                            <option value="Not Started">Not Started</option>
                            <option value="In Progress">In Progress</option>
                            <option value="On Hold">On Hold</option>
                            <option value="Completed">Completed</option>
                        </select>
                        <label for="taskDueDate">Due Date</label>
                        <input type="date" name="taskDueDate">
                        <% if(user.admin){ %>
                            <input type="number" name="rate" placeholder="Rate" required>
                            <input type="number" name="estTime" step="0.01" placeholder="Estimated Time" required>
                            <% } %>
                                <button type="submit">Add Task</button>
                    </form>
                </section>
            </section>
        </section>
        <% }) %>
            <%- include('partials/createProject') -%>
                <%- include('partials/footer') -%>