<%- include('partials/header') -%>

    <% projects.forEach( el=> { %>
        <section class="project--container">
            <section class="project--tab">
                <section class="<%= el._id %>Tab" onclick="changeTab('<%= el._id %>Tab')">
                    <h2>
                        <%= el.name %>
                    </h2>
                </section>
                <!-- <button class="<%= el._id %>Tab project-tabs-unselected" onclick="changeTab('<%= el._id %>Tab')">Documents</button>
                <button class="<%= el._id %>Tab project-tabs-unselected" onclick="changeTab('<%= el._id %>Tab')">Messages</button> -->
            </section>
            <section class="project--table">
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Priority</th>
                            <th>Estimated Time</th>
                            <th>Cost</th>
                            <th>Status</th>
                            <th class="add-task-icon" onclick="showHide('<%= el._id %>')">Add Task</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% el.tasks.forEach( el=> { %>
                            <tr>
                                <td>
                                    <%= el.taskName %>
                                </td>
                                <td>
                                    <%= el.priority %>
                                </td>
                                <td>
                                    <%= el.estTime %>
                                </td>
                                <td>
                                    $<%= el.estCost %>
                                </td>
                                <td>
                                    <%= el.status %>
                                </td>
                                <td><button class="show-more"><i class="fa-solid fa-caret-down"></i></button></td>
                            </tr>
                            <tr>
                                <td colspan="6">
                                    <h5>Description</h5>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat harum quam nisi, ab minima magni!</p>
                                    <h5>Rate</h5>
                                    <span>
                                        <%= el.rate %>
                                    </span>
                                    <h5>Due Date</h5>
                                    <span>
                                        <%= el.dueDate %>
                                    </span>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <%= el.tasks.length %> Tasks
                            </td>
                            <td></td>
                            <td>
                                <% let totalTime=0 %>
                                    <% el.tasks.forEach( el=> { %>
                                        <% totalTime=el.estTime + totalTime %>
                                            <% }) %>
                                                <%= totalTime %>

                            </td>
                            <td>
                                <% let totalCost=0 %>
                                    <% el.tasks.forEach( el=> { %>
                                        <% totalCost=el.estCost + totalCost %>
                                            <% }) %>
                                                $<%= totalCost %>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
                <section class="create-task-container hide" id="<%= el._id %>">
                    <form action="/task/add/<%= el._id %>" method="post" class="create-task-form">
                        <section class="create-task-inputs">
                            <section>
                                <label for="taskName">Task Name</label>
                                <input type="text" name="taskName" placeholder="Task Name" required>
                            </section>
                            <section>
                                <label for="priority">Priority</label>
                                <select name="priority">
                                    <option value="Low">Low</option>
                                    <option value="Medium">Medium</option>
                                    <option value="High">High</option>
                                    <option value="Urgent">Urgent</option>
                                </select>
                            </section>
                            <section>
                                <label for="taskDueDate">Due Date</label>
                                <input type="date" name="taskDueDate">
                            </section>
                        </section>
                        <label for="taskDescription">Description</label>
                        <textarea name="taskDescription" rows="10" placeholder="Description"></textarea>
                        <% if(user.admin){ %>
                            <section class="create-task-inputs">
                                <section>
                                    <label for="rate">Rate</label>
                                    <input type="number" name="rate" placeholder="50" required>
                                </section>
                                <section>
                                    <label for="estTime">Estimated Time</label>
                                    <input type="number" name="estTime" step="0.01" placeholder="1.5" required>
                                </section>
                                <section>
                                    <label for="status">Status</label>
                                    <select name="status">
                                        <option value="Not Started">Not Started</option>
                                        <option value="In Progress">In Progress</option>
                                        <option value="On Hold">On Hold</option>
                                        <option value="Completed">Completed</option>
                                    </select>
                                </section>
                            </section>
                            <% } %>
                                <button type="submit" class="btn">Add Task</button>
                    </form>
                </section>
            </section>
        </section>
        <% }) %>
            <%- include('partials/createProject') -%>
                <%- include('partials/footer') -%>