<%- include('partials/header') -%>
    <% projects.forEach( el=> { %>
        <section class="project--container">
            <section class="project--tab">
                <a class="<%= el._id %>Tab" onclick="changeTab('<%= el._id %>Tab')">
                    <h2>
                        <%= el.name %>
                    </h2>
                </a>
            </section>
            <!-- <section class="project--tab">
                <a class="<%= el._id %>Tab project-tabs-unselected" onclick="changeTab('<%= el._id %>Tab')">Documents</a>
            </section>
            <section class="project--tab">
                <a class="<%= el._id %>Tab project-tabs-unselected" onclick="changeTab('<%= el._id %>Tab')">Messages</a>
            </section> -->
            <section class="project--table">
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Priority</th>
                            <th>Estimated Time</th>
                            <th>Cost</th>
                            <th>Status</th>
                            <th colspan="3" class="add-task-icon" onclick="showHideAddTask('add-task-<%= el._id %>')">Add Task</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% el.tasks.forEach( el=> { %>
                            <tr>
                                <td>
                                    <%= el.taskName %>
                                </td>
                                <td>
                                    <%= el.priority %>
                                </td>
                                <td>
                                    <%= el.estTime %>
                                </td>
                                <td>
                                    $<%= el.estCost %>
                                </td>
                                <td>
                                    <%= el.status %>
                                </td>
                                <td class="table-icons-box" colspan="3">
                                    <i class="show-more fa-solid fa-caret-down" onclick="showHideTaskInfo('task-info-<%= el._id %>')"></i>
                                </td>
                            </tr>
                            <tr class="hide" id="task-info-<%= el._id %>">
                                <td colspan="7">
                                    <h5>Description</h5>
                                    <p>
                                        <%= el.taskDescription %>
                                    </p>
                                    <h5>Rate</h5>
                                    <span>
                                        <%= el.rate %>
                                    </span>
                                    <h5>Due Date</h5>
                                    <span>
                                        <%= el.dueDate %>
                                    </span>
                                </td>
                                <td class="table-icons-box">
                                    <i class="fa-solid fa-pen" onclick="showHideAddTask('add-task-<%= el._id %>')"></i>
                                    <form action="task/delete/<%= el._id %>?_method=DELETE" method="POST">
                                        <button type="submit" class="icon-btn"><i class="fa-solid fa-trash" onclick="warnMessage()"></i></button>
                                    </form>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <%= el.tasks.length %> Tasks
                            </td>
                            <td></td>
                            <td>
                                <% let totalTime=0 %>
                                    <% el.tasks.forEach( el=> { %>
                                        <% totalTime=el.estTime + totalTime %>
                                            <% }) %>
                                                <%= totalTime %>

                            </td>
                            <td>
                                <% let totalCost=0 %>
                                    <% el.tasks.forEach( el=> { %>
                                        <% totalCost=el.estCost + totalCost %>
                                            <% }) %>
                                                $<%= totalCost %>
                            </td>
                            <td colspan="4"></td>
                        </tr>
                    </tfoot>
                </table>
                <section class="create-task-container hide" id="add-task-<%= el._id %>">
                    <form action="/task/add/<%= el._id %>" method="post" class="create-task-form">
                        <section class="create-task-inputs">
                            <section>
                                <label for="taskName">Task Name</label>
                                <input type="text" name="taskName" placeholder="Task Name" required>
                            </section>
                            <section>
                                <label for="priority">Priority</label>
                                <select name="priority">
                                    <option value="Low">Low</option>
                                    <option value="Medium">Medium</option>
                                    <option value="High">High</option>
                                    <option value="Urgent">Urgent</option>
                                </select>
                            </section>
                            <section>
                                <label for="taskDueDate">Due Date</label>
                                <input type="date" name="taskDueDate">
                            </section>
                        </section>
                        <label for="taskDescription">Description</label>
                        <textarea name="taskDescription" rows="10" placeholder="Description"></textarea>
                        <button type="submit" class="btn">Add Task</button>
                    </form>
                </section>
            </section>
        </section>
        <% }) %>
            <%- include('partials/createProject') -%>
                <%- include('partials/footer') -%>